<!-- !!!!! This page is not finished and until now just used to se backend output !!!!! -->
<div class="container-user-show">

    <div class="user-data">
      <h1>Hello <%= current_user.first_name %>, how are you today? </h1>
      <p> Registered in <%= current_user.created_at.year %> </p>

    </div>
  <div class="body-user-show">

    <div class="as-lender">

      <div class="requests-lender">
        <!-- display pending offers -->
        <% current_user.offers.each do |offer| %>
          <% offer.loans.each do |loan| %>
            <% if loan.status == "pending" %>

                <div class="request-card">
                  <%= cl_image_tag loan.offer.photo %>
                  <div class="request-info" style="flex: 1">
                    <h2><%= loan.user.first_name %> asks you for a loan</h2>
                    <div>
                      Requester: <%= loan.user.first_name %> <%= loan.user.last_name %> </br>
                      Loan amount: <%= offer.amount %></br>
                      From: <%= loan.start_date %> until: <%= loan.end_date %>                     </br>
                      Total price: <%= loan.total_price %>
                    </div>
                  </div>
                  <div class="request-buttons">
                    <div>
                      <%= link_to "Accept", accepted_by_lender_loan_path(loan), class: "btn btn-flat request-button", style: "width: 200px" %>
                    </div>
                    <div>
                      <%= link_to "Decline", declined_by_lender_loan_path(loan), class: "btn btn-flat-ghost request-button", style: "width: 200px" %>
                    </div>
                  </div>
                </div>
            <% end %>
          <% end %>
        <% end %>

        <!-- display accepted offers -->
        <% current_user.offers.each do |offer| %>
          <% offer.loans.each do |loan| %>
            <% if loan.status == "accepted" %>
              <div class="request-card">
                <%= cl_image_tag loan.offer.photo %>
              <div class="request-info", style="flex: 1">
                <h2><%= loan.user.first_name %> asks you for a loan</h2>
                 <div>
                  Requester: <%= loan.user.first_name %> <%= loan.user.last_name %> </br>
                  Loan amount: <%= offer.amount %></br>
                  From: <%= loan.start_date %> until: <%= loan.end_date %>                     </br>
                  Total price: <%= loan.total_price %>
                </div>
              </div>
              <div class="request-buttons">
                <h3 class="accepted">ACCEPTED</h3>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>

      <% if current_user.offers.count > 0 %>
      <h2 style="padding-bottom: 20px">My posted loans</h3>
        <div class="offers">
          <% current_user.offers.each do |offer| %>
            <%= link_to offer_path(offer.id) do %>
              <div class="card-trip card-user-offer">
                <%= cl_image_tag offer.photo, height: 150, width: 200, crop: :fill %>
                <div class="card-trip-infos">
                  <div>
                    <h2>
                      <% if offer.amount >= 1_000 %>
                        <%= "€ #{offer.amount.to_s[0..-4]}.#{offer.amount.to_s[-3..-1]},00" %>
                      <% elsif offer.amount >= 1_000_000 %>
                        <%= "€ #{offer.amount.to_s[0..-7]}.#{offer.amount.to_s[-6..-4]}.#{offer.amount.to_s[-3..-1]},00" %>
                      <% else %>
                        <%= "€ #{offer.amount.to_s},00" %>
                      <% end %>
                    </h2>
                    <p><%= "#{offer.user.first_name} #{offer.user.last_name}" %></p>
                  </div>
                  <h2 class="card-trip-pricing"><%= "#{offer.interest} %" %></h2>
                </div>
              </div>
            <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
