<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<div class="container">

  <%= simple_form_for :search, url: offers_path, method: :get do |f| %>

  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="How much would you like to borrow?" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search" style="color: white;"></i>  Search
    </button>
  </div>
  <% end %>

  <h1 style="margin-top: 20px;">Available Loans</h1>

  <div class="cards">

  <% if @offers.count.positive? %>
    <% @offers.each do |offer| %>
      <%= link_to offer_path(offer.id) do %>
        <div class="card-trip">
          <%= cl_image_tag offer.photo, height: 150, width: 200, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <h2>
                <% if offer.amount >= 1_000 %>
                  <%= "€ #{offer.amount.to_s[0..-4]}.#{offer.amount.to_s[-3..-1]},00" %>
                <% elsif offer.amount >= 1_000_000 %>
                  <%= "€ #{offer.amount.to_s[0..-7]}.#{offer.amount.to_s[-6..-4]}.#{offer.amount.to_s[-3..-1]},00" %>
                <% else %>
                  <%= "€ #{offer.amount.to_s},00" %>
                <% end %>
              </h2>
              <p><%= "#{offer.user.first_name} #{offer.user.last_name}" %></p>
            </div>
            <h2 class="card-trip-pricing"><%= "#{offer.interest} %" %></h2>
          </div>
        </div>
      <% end %>
    <% end %>

  <% else %>

    <div class="card-trip">
      <img src="https://i.pinimg.com/originals/91/8e/7a/918e7a39b2d71bd85d3e26cf6b42a1ec.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>€ X.000,00</h2>
          <p>THIS IS THE PLACEHOLDER</p>
        </div>
        <h2 class="card-trip-pricing">5%</h2>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://i.blogs.es/7d43be/snip_20191017171919/1366_2000.jpeg" />
      <div class="card-trip-infos">
        <div>
          <h2>€ X.000,00</h2>
          <p>THIS IS THE PLACEHOLDER</p>
        </div>
        <h2 class="card-trip-pricing">6%</h2>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://www.propbay.com/attachments/original/14873d1471582534-joker-s-pile-money-test2.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>€ X.000,00</h2>
          <p>THIS IS THE PLACEHOLDER</p>
        </div>
        <h2 class="card-trip-pricing">4%</h2>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://i.ytimg.com/vi/fls8VU7XClU/maxresdefault.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>€ X.000,00</h2>
          <p>THIS IS THE PLACEHOLDER</p>
        </div>
        <h2 class="card-trip-pricing">7%</h2>
      </div>
    </div>
  <% end %>
</div>
