<html>

  <div class="container">
      <p><%= link_to "< Back to all loans", offers_path %></p>
      <h1> <%= @offer.user.first_name%>'s Loan</h1>
    <div class="layout">
      <div class="image">
        <% if @offer.photo %>
          <%= cl_image_tag @offer.photo, :style => "height: 50vh; width: 100%; object-fit: cover;"%>
        <% else %>
          <img src="https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555347972/shape/mentalfloss/istock_000045501888_medium.jpg" alt="" class="user-img" style="height: 50vh; width: 100%;">
        <% end %>
     </div>
      <div class="body-category">
        <div class="body-conditions">
          <h3>Loan's conditions </h3>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><i class="fas fa-coins"></i> <%= @offer.amount ? @offer.amount : "none" %></li>
            <li class="list-group-item"><i class="fas fa-euro-sign"></i></li>
            <li class="list-group-item"><%= @offer.interest ? @offer.interest : "none"  %> <i class="fas fa-percentage"></i></li>
          </ul>
        </div>
        <div class="body-about">
          <div class="body-about-content">
            <h3>About <%= @offer.user.first_name%>'s Loan</h3>
            <p class="btn-flat text-center">Request loan</p>
          </div>
          <div class="body-about-content">
            <p><%= @offer.description ? @offer.description : "Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivo" %></p>
            <p class="btn-flat-ghost">Contact</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>


